.App {
  text-align: center;
}

.Chart {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Loader {
  margin-top: 45vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Swap {
  position:absolute;
  right: 25px;
  top: 125px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  background-color: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}

.Section:hover{
  stroke-width: 0.5;
}

.salaryLabel{
  position: absolute;
  top: 150px;
  left: 25px;
  font-size: medium;
  text-align: center;
}

.salaryInput{
  position:absolute;
  top: 200px;
  left: 25px;
  width: 125px;
  align-self: center;
  font-size: medium;
}

.poundSign{
  position: absolute;
  top: 187px;
  left: 15px;
  font-size: medium;
  text-align: center;
}

.Dropdown{
  position: absolute;
  top: 125px;
  left: 25px;
  width: 100px;
  font-size: large;
  cursor: pointer;

}

input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2;
}

@media screen and (orientation: portrait) {

  .Chart{
    width: 75vw;
    height: 75vw;
    margin-top: calc(50vh - (75vw / 2) - 100px);
  }

  .budgetChart{
    width: 100vw;
    height:75vw;
  }
  
}

@media screen and (orientation: landscape) {
  .Chart{
    width: 70vh;
    height: 70vh;
    margin-top: calc(50vh - (70vh / 2) - 100px);
  }

  .budgetChart{
    width: 100vh;
    height:70vh;
  }
}