.App {
  text-align: center;
}

.Chart {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Loader {
  margin-top: 45vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Swap {
  position:absolute;
  right: 25px;
  top: 125px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  background-color: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}

.Section:hover{
  stroke-width: 0.5;
}

.Dropdown{
  position: absolute;
  top: 125px;
  left: 25px;
  width: 100px;
  font-size: large;
  cursor: pointer;

}

@media screen and (orientation: portrait) {

  .Chart{
    width: 75vw;
    height: 75vw;
    margin-top: calc(50vh - (75vw / 2) - 100px);
  }
  
}

@media screen and (orientation: landscape) {
  .Chart{
    width: 20vw;
    height: 20vw;
    margin-top: calc(50vh - (20vw / 2) - 100px);
  }
}