@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

/* Display the two child elements side by side */
.BarChartParent{
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow: hidden;
}

.Chart {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.legend{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Loader {
  margin-top: 45vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Swap {
  position:absolute;
  right: 25px;
  top: 125px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background-color: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}

.Section:hover{
  stroke-width: 0.5;
}

.salaryLabel{
  position: absolute;
  top: 150px;
  left: 25px;
  font-size: medium;
  text-align: center;
}

.salaryInput{
  position:absolute;
  top: 200px;
  left: 25px;
  width: 125px;
  align-self: center;
  font-size: medium;
}

.poundSign{
  position: absolute;
  top: 187px;
  left: 15px;
  font-size: medium;
  text-align: center;
}

.Dropdown{
  position: absolute;
  top: 125px;
  left: 25px;
  width: 100px;
  font-size: large;
  cursor: pointer;

}

input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2;
}

@keyframes slideUp{
  from{top: 100vh;}
  to{top: 25vh;}
}

.Modal{
  position: absolute;
  top: 25vh;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: lightgrey;
  animation-name: slideUp;
  animation-duration: 0.5s;
}

.Scrollable{
  max-height: calc(75vh - 175px);
  overflow-y: scroll;
  margin: 5px;
}

.Row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(236, 236, 236) ;
}

.Date{
  margin-left: 25px;
  margin-bottom: 5px;
}

.Close{
  /*Close button in the top left*/
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}

.Stats{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 25px;
  margin-top: 0px;
}

.Stat{
  margin-top: 0px;
}

.Percent{
  margin-left: 10px;
}

.TitleAndSquare{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  margin-bottom:0px;
}

.ColorSquare{
  margin-left: 10px;
  margin-bottom: 0px;
}

h3{
  font-size: 25px;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 0px;
}

.Time{
  margin-top: 0px;
}

.Merchant{
  margin-bottom: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (orientation: portrait) {

  .ringChart{
    width: 75vw;
    height: 75vw;
    margin-top: calc(50vh - (75vw / 2) - 100px);
  }

  .BarChartParent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
  }

  .barChart{
    width: 70vw;
    height: 70vw;
    margin-top: calc(40vh - (70vw / 2) - 100px);
  }

  .budgetChart{
    width: 75vw;
    height: 100vw;
    margin-top: calc(50vh - (100vw / 2) - 100px);
  }
  
  .legend{
    width: 50vw;
    height: 50vw;
    margin-top: 10px;
  }
  
}

@media screen and (orientation: landscape) {
  .ringChart{
    width: 70vh;
    height: 70vh;
    margin-top: calc(50vh - (70vh / 2) - 100px);
  }

  .barChart{
    width: 70vh;
    height: 70vh;
    margin-top: calc(50vh - (70vh / 2) - 100px);
  }

  .budgetChart{
    width: 100vh;
    height: 70vh;
    margin-top: calc(50vh - (70vh / 2) - 100px);
  }

  .legend{
    width: 35vh;
    height: 35vh;
    margin-top: calc(50vh - (35vh / 2) - 100px);
  }
}

@media only screen and (max-device-width: 480px){
  .Swap{
    position:absolute;
    right: 25px;
    top: 125px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;
  }
}
