.frame {
    width:100%;
    height: 100px;
    background-color: #1c2640;
    display:inline-block;
    overflow: hidden;
}

.logo {
    padding-right:6%;
    padding-left: 1%;
    max-width:13%;
    vertical-align:middle;
    display:inline-block;
}

.buttons {
    height: 100%;
    width: 20%;
    margin-right:5%;
    background-color:transparent;
    outline:none;
    border:none;
    color:white;
    font-size: 20px;
    cursor: pointer;
}

.buttons:hover {
    color:#1c2640;
    background-color: white;
}

.buttons.selected{
    font-weight: bold;
    border-bottom: 12px solid;
    border-color: lightgray;
    padding-bottom: 0;
}
